<div class="remix">

	<div class="fl" style="padding-right:10px;">

		<%= image_tag remix.user.avatar_url, :height => 40, :width => 40 %>

	</div>

	<div class="fl">

		<h2><%= link_to remix.title, remix -%></h2>

		Uploaded by <%= link_to remix.user.username, remix.user.permalink_url, :target => "_blank" -%> <%= time_ago_in_words remix.created_at -%> ago

	</div>

	<div class="fr" style="text-align:right;">
		
		<% if remix.voted?(request.remote_ip) %>
		
			<h2>&nbsp;</h2>
		
		<% else %>

			<h2><%= link_to_remote "Vote", :url => vote_path(remix.id) -%></h2>
		
		<% end %>

		<%= pluralize remix.votes_count, 'vote' -%>

	</div>

	<div class="clear"></div>

	<div class="player">

		<% url = "http://api.soundcloud.com/tracks/#{remix.track_id}&color=E7AD14&show_playcount=true&show_comments=false&text_buy_track=Vote For My Remix" %>

		<object height="81" width="100%"> 
			<param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= url -%>"></param> 
			<param name="allowscriptaccess" value="always"></param> 
			<embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%= url -%>" type="application/x-shockwave-flash" width="100%"></embed> 
		</object>

	</div>

</div>