<div class="block">

	<h2>Upload Your Remix</h2>
	
	<p><% if logged_in? %>You're <%= current_user.username -%>, <%= link_to 'Sign out?', logout_path -%><% end %></p>

	<% form_for(@remix, :html => {:multipart => true}) do |f| %>

	  <%= f.error_messages %>

		<%= f.hidden_field :user_id, :value => current_user["id"] %>
	
		<p style="margin: 15px 0;"><%= f.label :title, "remix title" %><br>
		<%= f.text_field :title %></p>
	
		<p><%= f.file_field :asset_data %></p>
		
		<p><small>Files must be smaller than 10mb. OGG, MP3, AAC</small></p>

	  <p style="margin: 15px 0;"><%= f.submit 'Upload' %>&nbsp;&nbsp;<%= link_to "Cancel", remixes_path -%></p>

	<% end %>

</div>