<% options = "&color=E7AD14&show_playcount=true&show_comments=false&text_buy_track=Vote For My Remix" %>

<% if @remix.available? %>

<p><%= link_to "Vote", vote_path(params[:id]) -%>: <%= @remix.votes_count %></p>

<p>
	
	<object height="81" width="100%"> 
		<param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= @track["uri"] -%><%= options -%>"></param> 
		<param name="allowscriptaccess" value="always"></param> 
		<embed 
			allowscriptaccess="always" 
			height="81" 
			src="http://player.soundcloud.com/player.swf?url=<%= @track["uri"] -%><%= options -%>" 
			type="application/x-shockwave-flash" 
			width="100%">
		</embed> 
	</object>

</p>

<% else %>

	<p>Creating waveform</p>

	<p><%= image_tag "throbber.gif" %></p>

<% end %>

<%= link_to 'Back', remixes_path %>