<h2>Title: <%= @track["title"] -%></h2>
<h3>By: <%= link_to @track["user"]["username"], @track["user"]["permalink_url"] -%></h3>
<h3>Votes: <%= @remix.votes_count -%> <%= link_to "+", vote_path(params[:id]) -%></h3>

<% options = "&color=E7AD14&show_playcount=true&show_comments=false&text_buy_track=Vote For My Remix" %>

<% if @remix.available? %>

<p>
	
	<object height="81" width="100%"> 
		<param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= @track["uri"] -%><%= options -%>"></param> 
		<param name="allowscriptaccess" value="always"></param> 
		<embed 
			allowscriptaccess="always" 
			height="81" 
			src="http://player.soundcloud.com/player.swf?url=<%= @track["uri"] -%><%= options -%>" 
			type="application/x-shockwave-flash" 
			width="100%">
		</embed> 
	</object>

</p>

<% else %>

	<p>Creating waveform</p>

	<p><%= image_tag "throbber.gif" %></p>

<% end %>

<%= link_to 'Back', remixes_path %>