<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= if @page_title then "#{@page_title} - " end -%> <%= SETTINGS["title"] %></title>

	<meta name="title" content="<%= SETTINGS["title"] -%>" />
	<meta name="description" content="<%= SETTINGS["description"] -%>" /> 

	<link href="<%= root_url -%>images/artwork.jpg" rel="image_src" /> 

	<meta property="og:site_name" content="<%= SETTINGS["title"] -%>" />
	<meta property="fb:app_id" content="<%= SETTINGS["facebook_app_id"] -%>" />	
	
	<% if params[:action] == "show" %>

	<%= render :partial => "remixes/meta", :locals => {:remix => @remix} %>

	<% else %>
	
	<meta property="og:title" content="<%= SETTINGS["title"] -%>" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="<%= root_url -%>" /> 
  <meta property="og:image" content="<%= root_url -%>images/artwork.jpg" />
	
	<% end %>

  <%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag :defaults %>

</head>
<body>
	
	<div id="wrapper">
		
		<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin-bottom:10px;">
			<tr>
				<td><%= link_to image_tag("logo.png", :border => 0), root_path -%></td>
				<td align="right"><%= link_to 'Upload Your Remix', upload_path, :class => "button" %></td>
			</tr>
		</table>

		<% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>

		<%= yield %>
	
	</div>

</body>
</html>
