<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>RJD2 Remix Contest</title>

  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>

</head>
<body>
	
	<h1><%= link_to "RJD2 Remix Competition", root_path -%></h1>
	
	<% if logged_in? %>
	
		<div class="fl"><%= image_tag current_user.avatar_url, :height => 25, :width => 25, :style => "border:2px solid #CCC;" -%></div>
		<div class="fl" style="padding:4px 0 0 6px;">You're <%= current_user.username -%>, <%= link_to 'Sign out?', logout_path -%></div>
		<div class="clear"></div>
	
	<% end %>

	<p style="color: green"><%= flash[:notice] %></p>

	<%= yield %>

</body>
</html>
